html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Muli, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  font-family: 'Cabin', sans-serif;
}

@media(min-width:992px) {
  body {
    padding-top: 0;
    padding-left: 16%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase
}

#navigationBar {
  user-select: none
}

#navigationBar .navbar-nav .nav-item .nav-link {
  color: #000;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#navigationBar .nav-item:hover {
  color: #000;
  opacity: 0.6;
}

#navigationBar .navbar-nav {
  padding-top: 20%;
}

#navigationBar .navbar-brand .img-fluid {
  max-width: 3rem;
  max-height: 3rem;
  border: .3rem solid rgba(255, 255, 255, .2)
}

.navbar-brand {
  font-family: 'Cabin', sans-serif;
  color: #000 !important;
  letter-spacing: 0.075rem;
}

#navbar-toggle-cbox:checked~.collapse {
  display: block;
}

#navbar-toggle-cbox {
  display: none
}

.about-section h1 {
  font-size: 2.5rem;
}

.about-section p {
  font-size: 2.6vh;
  color: #6e7879;
}

.portfolio-section h1 {
  font-size: 2.5rem;
}

.portfolio-section p {
  font-size: 2.6vh;
  color: #6e7879
}

.contact-section h1 {
  font-size: 2.5rem;
}

.contact-section p {
  font-size: 2.6vh;
  color: #6e7879
}


@media(max-width:992px) {
  .flex-d-align {
    display: flex;
  }


  .about-section h1 {
    font-size: 5vh;
  }

  .about-section p {
    font-size: 3.5vh;
    color: #6e7879
  }

  .portfolio-section h1 {
    font-size: 5vh;
  }

  .portfolio-section p {
    font-size: 3.5vh;
    color: #6e7879
  }

  .contact-section h1 {
    font-size: 5vh;
  }

  .contact-section p {
    font-size: 3.5vh;
    color: #6e7879
  }


  p.centered-paragraph {
    padding-left: 1vw;
    margin-bottom: 0 !important
  }

  #navigationBar {
    text-align: center;
  }

  #navigationBar .navbar-nav {
    padding-top: 0;
    height: 40vh;
  }

  #navigationBar .small-dont-show {
    display: none;
  }

  #navigationBar .navbar-toggler {
    color: #333;
  }
  .navbar-brand {
    font-size: 5vh;
    margin: 1% 0 0 1%;
    text-transform: uppercase;
  }

  .nav-link {
    margin-top: 2%;
    font-size: 3.5vh;
  }

}

@media(min-width:992px) {
  #navigationBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100%
  }

  #navigationBar .small-dont-show {
    padding: 0 0 2em 0.5em;
    text-transform: uppercase;
  }


  #navigationBar .navbar-collapse {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto
  }

  #navigationBar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
  }

  #navigationBar .navbar-collapse .navbar-nav .nav-item {
    display: block
  }

  #navigationBar .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block
  }



}
